@use '../utils' as *;

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes moveRight {
  from {
    left: -100%;
  }
  
  to {
    left: 0;
  }
}
@keyframes fadeOut {
  to {
    transform: translateX(100%);
  }
}
@keyframes tile-left {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes tile-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

html {
  font-size: 62.5%;
  // font-size: max(10px, calc(100vw / 1920 * 10));

  // @include mobile {
  //   font-size: calc(100vw / 390 * 10);
  // }
}

body {
  background: $color-white;
}

:root {
  --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.20rem);
  --step-0: clamp(4.50rem, 3.64rem + 4.29vw, 9.00rem);
}

.icon {
  display: inline-block;
  &--arrow-right {
    width: 10rem;
    height: 10rem;
    background: url('./../image/ico_arrow_right.svg') center / 100%;
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 10001;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .text-wrap {
    @include flex($jc: center);
    background: $color-white;
    width: inherit;
    height: inherit;
    animation: fadeOut 1s 2.5s forwards;
    
    svg {
      position: absolute;
      top: calc(50% - 5rem);
      left: 0;
      z-index: 1002;
      font-optical-sizing: auto;
      font-style: normal; 
    }
    #text {
      height: auto;
      transform: translateX(50%);
      font-family: $font-en;
      font-weight: 900;
      font-size: 7.2rem;
      stroke-width: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1100;
      animation: draw 110s cubic-bezier(0,1,0.2,1) forwards;
    }
  }
}

.transition-screen {
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  @include flex($direction: column, $ai: start);
  pointer-events: none;

  &__tile {
    width: 0%;
    height: 100%;
    background: $color-black;
  }

  &--left {
    .transition-screen__tile {
      animation: tile-left 1.2s ease-in-out forwards;

      &:nth-child(1) {animation-delay: 0.6s !important;}
      &:nth-child(2) {animation-delay: 0.7s !important;}
      &:nth-child(3) {animation-delay: 0.8s !important;}
      &:nth-child(4) {animation-delay: 0.9s !important;}
      &:nth-child(5) {animation-delay: 1s !important;}
      &:nth-child(6) {animation-delay: 1.1s !important;}
    }
  }
  &--right {
    left: -100%;
    .transition-screen__tile {
      width: 100%;
      animation: tile-right 1s ease-in-out forwards;

      &:nth-child(1) {animation-delay: 2.2s !important;}
      &:nth-child(2) {animation-delay: 2.3s !important;}
      &:nth-child(3) {animation-delay: 2.4s !important;}
      &:nth-child(4) {animation-delay: 2.5s !important;}
      &:nth-child(5) {animation-delay: 2.6s !important;}
      &:nth-child(6) {animation-delay: 2.7s !important;}
    }
  }
}

.menu {
  &__btn-toggle {
    position: fixed;
    top: 4rem;
    right: 5rem;
    z-index: 1000;

    span {
      display: block;
      position: relative;
      width: 5rem;
      height: 5rem;
      text-indent: -9999px;

      @include before (5rem, 0.6rem) {
        left: 50%;
        top: calc(50% + 1rem);
        transform: translate(-50%, -50%);
        background: $color-black;
        will-change: transform, background;
        transition: transform 0.35s, background 0.35s;
      }

      @include after (5rem, 0.6rem) {
        left: 50%;
        top: calc(50% - 1rem);
        transform: translate(-50%, -50%);
        background: $color-black;
        will-change: transform, background;
        transition: transform 0.35s, background 0.35s;
      }
    }

    &--dark {
      span::before, span::after {
        background: $color-white;
      }
    }
  }

  &__nav {
    &-wrap {
      display: none;
      position: fixed;
      left: 100%;
      top: 0;
      z-index: 999;
      background: $color-black;
      width: 100%;
      height: 100%;
      transition: all 0.35s 0.5s;
      padding: 13rem 5rem 0 0;
    }

    @include flex($direction: column, $ai: end, $gap: 1rem);
    text-align: right;

    &__anchor {
      display: inline-block;
      transition: padding 0.35s;
      &:hover {
        padding-right: 5rem;
        span {
          color: $color-primary-purple;
        }
      }

      span {
        display: inline-block;
        color: $color-white;
        font-weight: 900;
        font-size: 13rem;
        clip-path: inset(0% 0% 0% 100%);
        transition: clip-path 0.5s;
      }
      &:nth-child(1) span {
        transition-delay: 0.65s;
      }
      &:nth-child(2) span {
        transition-delay: 0.75s;
      }
      &:nth-child(3) span {
        transition-delay: 0.85s;
      }
    }
  }

  .transition-screen {
    z-index: 900;
    
    &--left {
      left: auto;
      right: 0;
      align-items: end;
  
      .transition-screen__tile {
        animation: none;
      }
    }
    &--right {
      left: 0;

      .transition-screen__tile {
        animation-duration: 0.3s !important;
  
        &:nth-child(1) {animation-delay: 0.3s !important;}
        &:nth-child(2) {animation-delay: 0.4s !important;}
        &:nth-child(3) {animation-delay: 0.5s !important;}
        &:nth-child(4) {animation-delay: 0.6s !important;}
        &:nth-child(5) {animation-delay: 0.7s !important;}
        &:nth-child(6) {animation-delay: 0.8s !important;}
      }
    }
  }

  &--active {
    // .nav__wrap {
    //   transition: all 0.3s;
    // }
    .menu__btn-toggle {
      span {
        &::before, &::after {
          background: $color-white;
          top: 50%;
        }
        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    .menu__nav {
      &-wrap {
        left: 0%;
      }
      &__anchor {
        span {
          clip-path: inset(0% 0% 0% 0%);
        }
      }
    }

    .transition-screen--left {
      .transition-screen__tile {
        animation: tile-left 0.3s ease-in-out forwards;
  
        &:nth-child(1) {animation-delay: 0s !important;}
        &:nth-child(2) {animation-delay: 0.1s !important;}
        &:nth-child(3) {animation-delay: 0.2s !important;}
        &:nth-child(4) {animation-delay: 0.3s !important;}
        &:nth-child(5) {animation-delay: 0.4s !important;}
        &:nth-child(6) {animation-delay: 0.5s !important;}
      }
    }
  }
}

.section {
  &--visual {
    height: 180vh;
  }
  &__title {
    @include flex;
    font-family: $font-en;
    font-size: 10rem;
    font-weight: 700;
  }
}


// visual 
.fold {
  overflow: hidden;
  width: 100vw;
  height: 80vh;

  &-wrap {
    position: fixed;
    inset: 0;
    @include flex($jc: center);
    
    .inner--3d {
      position: relative;
      perspective: 20vw;
      transform-style: preserve-3d;
    }
  }

  &--top {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    transform-origin: bottom center;
    transform: rotateX(-120deg);

    .fold__align {
      transform: translateY(100%);
    }
  }
  
  &--center {
    width: 100vw;
  }
  
  &--bottom {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    transform-origin: top center;
    transform: rotateX(120deg);

    .fold__align {
      transform: translateY(-100%);
    }
  }

  &__align {
    width: 100%;
    height: 100%;
  }

  &__conts {
    &__item {
      border-bottom: 0.1rem solid #1a1a1a;
      color: #ccc;
      font-family: $font-en;
      font-size: var(--step-0);
      font-weight: 500;
      height: 21rem;
      overflow: hidden;
      position: relative;
      width: 100vw;

      
      .track {
        height: 100%;
        overflow: hidden;
        padding: 2rem 0;
        position: absolute;
        white-space: nowrap;
        will-change: transform;
      }

      .focus {
        color: #1a1a1a;
        font-weight: 700;
      }
    }
  }
}

// skill
.text-scroll {
  @include flex($direction: column, $ai: flex-start, $jc: center);
  min-height: 100vh;

  &__align {
    font-family: $font-en;
    font-size: var(--step-0);
    font-weight: 700;
    line-height: 100%;
    margin: 0;
    width: 100%;
    height: 200px;
    color: rgb(0, 0, 0, 0.2);
    background: linear-gradient(to right, $color-gray-900, $color-gray-900) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(0.1,0.5,0.5,1) 0.5s;
    border-bottom: 1px solid #2F2B28;
    @include flex($direction: column, $ai: flex-start, $jc: center);
    position: relative;

    &:hover > .text-scroll__align__hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    &__hover {
      font-family: $font-kr;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-primary-purple;
      color: $color-white;
      
      clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
      transform-origin: center;
      transition: all cubic-bezier(0.1,0.5,0.5,1) 0.4s;
      
      @include flex($direction: column, $jc: center, $ai: flex-start);
    }
  }
}

// works
.pin {
  @include flex;
  height: 100vh;
  padding: 18vh 12vw;

  &-wrap {
    @include flex;
    height: 100vh;
    left: 0;
  }

  &__item {
    width: 32rem;
    max-width: 100vw;
    aspect-ratio: 1 / 1;
    margin: 4rem;

    &--title {
      padding: 0vw 6vw 0vw 6vw;
      width: auto;
      max-width: auto;
      aspect-ratio: auto;
    }

    &--work {
      position: relative;
      transition: all 0.6s;

      .work-text {
        &__title {
          position: absolute;
          top: -2.5rem;
          left: 0rem;
          z-index: 1;
          font: {
            size: 2rem;
            weight: 600;
          }
          color: #dfdfdf;
          line-height: 100%;
        }
        &__type {
          position: absolute;
          bottom: -2.5rem;
          right: 0rem;
          z-index: 1;
          font: {
            size: 1.6rem;
          } 
          color: $color-white;
        }
        &__hidden {
          display: none;
        }

        span {
          display: inline-block;    
          clip-path: inset(0% 0% 0% 0%);
          transition: all 0.6s;
          font-size: inherit;
          font-weight: inherit;
          color: inherit;
          line-height: inherit;
        }
      }
    }

    &.hidden {
      pointer-events: none;

      span {
        display: inline-block;    
        clip-path: inset(0% 0% 0% 100%);
      }

      .pin__item__image img {
        clip-path: inset(0% 16.7% 100% 16.7%);
      }
    }
    
    &__image {
      @include flex($jc: center);
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        clip-path: inset(0% 16.7% 0% 16.7%);
        will-change: clip-path, transform;
        transition: clip-path 0.6s $ease-out-sine, transform 0.3s ease;
      }
    }

    &.zoom {
      &-in {
        transform: scale(0.9);
        filter: blur(2px) grayscale(100%);
      }
      &-out {
        transform: scale(1.2);
      }
    }

    &--end {
      @include flex($jc: center);
      width: 40rem;
      height: 40rem;
      border-radius: 50%;
      background-color: $color-gray-900;

      &__text {
        font-family: $font-en;
        font-weight: 900;
        font-size: 4rem;
        color: #efefef;
      }
    }

  }
}

.work-view {
  position: relative;
  width: inherit;
  height: inherit;

  &-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    &.active {
      display: block
    }

    img {
      width: 600px;
      max-width: 100%;
      clip-path: inset(0% 0% 100% 0%);
      transition: clip-path 0.6s $ease-in-out, transform 0.6s ease;
      cursor: none;
      will-change: clip-path, transform;
    }
  }


  &__close {
    display: block;
    position: absolute;
    top: -5rem;
    right: -5rem;
    width: 5rem;
    height: 5rem;
    
    &__btn {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      text-indent: -9999px;

      @include before (5rem, 0.2rem) {
        top: 50%;
        right: 0;
        transform: rotate(-90deg);
        background: $color-white;
        opacity: 0;
        will-change: opacity, transform;
        transition: opacity 0.3s, transform 0.6s;
      }

      @include after (5rem, 0.2rem) {
        top: 50%;
        right: 0;
        transform: rotate(-180deg);
        background: $color-white;
        opacity: 0;
        will-change: opacity, transform;
        transition: opacity 0.3s, transform 0.6s;
      }
    }
  }

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__info {
    color: $color-white;

    dt, dd {
      position: absolute;
      z-index: 100;
      mix-blend-mode: difference;
    }

    span {
      display: inline-block;
      clip-path: inset(0% 0% 0% 100%);
      will-change: clip-path;
      transition: clip-path 0.6s;
    }

    &__title {
      top: -4.5rem;
      left: -10rem;

      span {
        font-size: 5.4rem;
        font-weight: 600;
        font-style: italic;
      }
    }

    &__period {
      top: -5.6rem;
      left: -6rem;
      
      span {
        font-size: 1.8rem;
        font-weight: 500;
        font-style: italic;
      }
    }

    &__category {
      bottom: -3rem;
      right: 0rem;

      span {
        font-size: 2.2rem;
        font-weight: 500;
      }
    }

    &__detail {
      top: 100%;
      left: -3.2rem;
      
      span {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.8;
      }
    }
  }

  &.active {
    .work-view {
      &__close__btn {
        &::before {
          opacity: 1;
          transform: rotate(-45deg);
        }
  
        &::after {
          opacity: 1;
          transform: rotate(45deg);
        }
      }

      &__info {
        span {
          //clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% -100% 0% -0%);
        }
      }
    }
    img {
      clip-path: inset(0%);
    }
  }
}


