@use '../utils' as *;

// 마우스 효과
#cursor {
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  pointer-events: none;
  mix-blend-mode: difference;
  filter: unquote("invert()");

  .cursor__item {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background: $color-black;
    transition: all 0.2s $ease-in-out-quad;
    
    &__text::after {
      display: block;
    }
  }
    
  &[data-cursor-status='zoom'] .cursor__item {
    transform: translate(-50%,-50%) scale(2);
  }

  &[data-cursor-status]:not([data-cursor-status='zoom']) .cursor__item {
    @include flex ($jc: center); 
    width: 15rem;
    height: 15rem;
    background: $color-primary-purple;

    &__text {
      &::after {
        color: $color-white;
        font-size: 28px;
        font-weight: 700;
      }
    }
  }

  &[data-cursor-status='click'] .cursor__item__text::after {
    content: 'CLICK';
  }

  &[data-cursor-status='scroll'] .cursor__item__text::after {
    content: 'SCROLL';
  }

  &[data-cursor-status='goToSite'] .cursor__item__text::after {
    content: 'VISIT';
  }

  &[data-cursor-status='close'] .cursor__item__text::after {
    content: 'BACK';
  }
}